# Dependencies
node_modules
npm-debug.log

# Build output
.next
out
dist

# Mobile platforms
ios
android

# Development
.env*.local
.env.local

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Documentation
docs
README.md

# Misc
.DS_Store
*.log
